<div>
 {{> asset-attributes assets}}
</div>
<div>
 {{> asset-code-view .}}
</div>
<div>
 {{> interface assets}}
</div>
<div>
 {{> contacts assets}}
</div>
<div>
 {{> endpoints assets}}
</div>
<div>
  {{> doclinks assets}}
</div>